fastapi==0.115.0
uvicorn==0.30.6
websockets==12.0
colorama==0.4.6
pyyaml==6.0.2
python-dotenv==1.0.1
libretranslate==1.7.3
argostranslate==1.9.6
requests==2.31.0
torch==2.5.0
duckduckgo-search==4.1.0
wikipedia-api==0.6.0